body {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 11px;
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
}
#wrapper {
	margin: 20px;
}
#logostrip {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-bottom: 0;
	font-weight: bold;
	font-size: 22px;
	padding: 10px 0;
	text-align: center;
}